@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-out;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#root > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  width: 26px;
  height: 26px;
  animation: loading 0.75s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading > :first-child {
  fill: none;
  opacity: 0.2;
  stroke-width: 4;
  stroke: currentColor;
}
.loading > :last-child {
  fill: none;
  stroke: currentColor;
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
  stroke-width: 4;
}
